.b-scooters {
    padding: 45px 15px;
}

.b-scooters__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
}
.b-scooters__img-block {
    /* position: relative; */
    transform: translateX(200%);

    width: 66%;
    display: flex;
    gap:30px;
    z-index: 1; 
    transition: transform 2s linear;    
}
.b-scooters__img-block._active {
    transform: translateX(0%);
}

.b-scooters__info {
    /* position: relative; */
    transform: translateX(-350%);
    z-index: 2; 
    background-color: rgba(255, 255, 255, 0.5);
    
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 0 40px 0 15px;
    order: 1;
    transition: transform 2s linear; 
}
.b-scooters__info._active {
    transform: translateX(0%);
}

.b-scooters__title {
    margin-bottom: 21px;
}

.b-scooters__text {
    margin-bottom: 18px;
}

@media (max-width: 991px) {
    .b-scooters__content {
        flex-direction: column;
        row-gap: 20px;
    }
    .b-scooters__img-block{
        gap:10px;   
    }
    .b-scooters__info {
        max-width: 660px;
        width: unset;
        padding: 0;        
        order: 0;
        align-items: center;
    }
    .b-scooters__text {
        text-align: center;
    }   
    
}


@media (max-width: 575px) {    
    .b-scooters__title {       
        margin-bottom: 15px;        
    }    
    .b-scooters {
        padding: 30px 15px;
    }
    .b-scooters__img-block {
        flex-direction: column;
        align-items: center;
    }
}