.footer__wrapper {
    background-color: #f7f7f7;
}

.footer__row {
    display: flex;    
    justify-content: space-between;
    padding: 50px 15px; 
    row-gap: 15px; 
}

.footer__logo {
    flex: 0 1 25%;
}

.footer__explore {
    flex: 0 1 30%;
    padding: 0 15px;
}

.footer__title {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer__item {
    font-size: 14px;
    line-height: 1.6;
}

.footer__link {
    transition: all 0.2s ease-in;
}

.footer__link:hover {
    color: #FF4A32;
    text-decoration: underline;
}

.footer__about {
    padding: 0 15px;
    flex: 0 1 60%;
}

.footer__text {
   font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer__adress {
    font-size: 13px;
    line-height: 1.5;
}

.footer__up {
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    bottom: 80px;
    right: 45px;
    border: 2px solid #b3b2b2;
    transition: all 0.2s ease;
}

.footer__up:hover {
    background-color: #e7e5e5;
}

.footer__up:before {
    position: absolute;
    content: "";    
    width: 15px;
    height: 15px; 
    top: 38%;
    left: 31%;   
    border-left: 2px solid #b3b2b2;
    border-top: 2px solid #b3b2b2;
    transform: rotate(45deg);
}

.footer__second-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    gap: 15px;
}

.footer__copyright {
    font-size: 13px;
    line-height: 1.5;
    margin-right: 14px;
}

/* .footer__copyright span {
    color: #FF4A32;
} */

.footer__pay {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media (max-width: 991px) {
    .footer__row {
        padding: 30px 15px;
    }
    .footer__explore {
        flex: 0 1 30%;
    }
    .footer__about {
        flex: 0 1 60%;
    }
    .footer__second-row {
        justify-content: center;
    }
    .footer__copyright {
        width: 100%;
        order: 1;
        text-align: center;
    }
    .footer__pay {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .footer__row {
        flex-direction: column;
    }
}

@media (max-width: 575px) { 
    .footer__row {
        padding: 20px 15px;
    }    
    .footer__explore {
        padding: 0;  
    }
    .footer__about {
        padding: 0;  
    }          
    .footer__pay {
        flex-wrap: wrap;
    }  
    .footer__up {
        width: 40px;
        height: 40px;
        bottom: 56px;
        right: 10px;
    }
    .footer__up::before {
        left: 28%; 
    }    
}