.gallery {
    position: relative;
    padding: 30px 15px 40px 15px;
}

.gallery__info {
     max-width: 690px;
     margin: 0 auto;
     text-align: center;
     padding: 22px 15px 45px;
}

.gallery__title {
     margin-bottom: 17px;
}

.gallery__desc {
     font-size: 15px;
     line-height: 1.25;
}

.gallery__desc::after {
     position: relative;
     margin: 25px auto 0px;
     content: "";
     display: block;
     width: 70px;
     height: 2px;
     background-color: #cfcfcf;
}

.gallery__wrapper {
    width:  80%;
    max-width: 1440px;    
    /* overflow: hidden; */
    /* position: relative;     */
    z-index: 1;
    margin: 0 auto; 
    
}

.gallery__slider {
    padding-bottom: 6%;
    /* display: flex;
    position: absolute;
    top: 0;
    transition: left 0.6s ease-in-out; */
}

.gallery__slider picture *{
    /* display: block;
    width: 100%;     */
    margin: 0 auto;
}


/* Pagination, Navigation */
.swiper-pagination-bullet-active{
background-color: #ff7601;
}
.swiper-button-prev, 
.swiper-button-next {
    position: absolute;
    top: 55%;  
    width: 60px;
    height: 60px;
    transform: translateY(-55%) rotate(90deg);
    border: 2px solid #eb7106;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(225, 130, 6, 0.3);
    z-index: 2;
    opacity: 0.6;
}
.swiper-button-prev:hover, 
.swiper-button-next:hover {
    opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-image: url('../img/icons/icon-up-orange.svg');
}

.swiper-button-prev {
    left: 5%;
    transform: rotate(-90deg);
}
.swiper-button-next {
    right: 5%;
    transform: rotate(90deg);
}
/* ====================================================================== */

@media (max-width: 1400px) {
    .swiper-button-prev{
        left: 3%;
    } 
    .swiper-button-next{
        right: 3%;
    }
}
 @media(max-width: 991px) {
    .gallery__slider {
        padding-bottom: 10%;
    }
    .swiper-button-prev{
        left: 10%;
    } 
    .swiper-button-next{
        right: 10%;
    }
    
}
@media(max-width: 767px) {
    .gallery__slider {
        padding-bottom: 11%;
    }
    .swiper-button-prev, 
    .swiper-button-next {
        display: none;
    }    
}


@media (max-width: 575px) {
    .gallery__slider {
        padding-bottom: 20%;
    }
}






