.intro {
    padding-top: 95px;      
}

.intro__wrapper {
    position: relative;
    display: block;
    max-width: 100%;
    text-align: center; 
    background-color: #d2dce2;
}


.intro__img img {
    width: 100%;
    max-width: 1440px;    
    margin: 0 auto;
}

.intro__content {  
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;  
    padding: 55px 10px;  
}

.intro__title {
    font-size: 44px;
    line-height: 1.16;
    margin-bottom: 14px;
}

.intro__subtitle {
    font-size: 15px;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-bottom: 22px;
}

.intro__btn-block {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

@media (max-width: 575px) { 
    .intro__content {
        position: static;
        padding: 25px 10px;
    }
    .intro__title {
        font-size: 26px;
    }
}




