@import "./reset.css";
@import "./header.css";
@import "./cart.css";
@import "./intro.css";
@import "./partners.css";
@import "./gallery.css";
@import "./scateboards.css";
@import "./b-scooters.css";
@import "./scooters.css";
@import "./video-section.css";
@import "./gift-card.css";
@import "./advantages.css";
@import "./footer.css";
@import "./accessories.css";
@import "./boards.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    line-height: 1.25;
}
.fixed {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 7px;
}

.logo__name {
    font-size: 15px;
    font-weight: 700;
}

.btn {
    width: 200px;
    height: 33px;    
    background-color: #FF4A32;
    border-radius: 35px;
    text-transform: uppercase;
    color: #fff;
    transition: background-color 0.2s ease-in;
}
.btn:hover {
    background-color: #cb2812;
    
}
.btn:active {
    position: relative;
    top: 1px;
}
.title {
    font-size: 32px;
    line-height: 1.13;
}

.no-hover {
    pointer-events: none;
}

.close-icon {
    display: flex;
    justify-content: end;   
    
}
.close-icon img {
    cursor: pointer;
}

.hidden {
    display: none;
}

.flyImage {
    position: fixed;
    opacity: 1;
    z-index: 100;
    transition: all 0.7s ease 0s;
}


/* .loader {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;    
    align-items: center ;
    z-index: 1001;  
    background-color: #fff; 
}
.loader_hidden {
    display: none;
}

.loader__inner {   
    display: block;
    opacity: 0.5;    
    background: url('../img/icons/fingers.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;   
    width: 4em;
    height: 4em;    
} */

@media (max-width: 575px) { 
    .gallery__info {
        padding: 0px 15px 20px;
    }
    .title {
        font-size: 26px;
    }
}
